*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --Oxford-blue-: #091235;
  --Rich-Black: #14202E;
  --Charcoal-: #2B4257;
  --Carolina-Blue-: #88A9C3;
  --Ivory-: #F2F2E3;
  --IBM-Font-: 'IBM Plex Sans', sans-serif;
  /* Font Weight: 300, 500, 700 */
  --BebasNeue-Font-: 'Bebas Neue', sans-serif;
  background-color: var(--Rich-Black);
  color: var(--Ivory-);
}

.inputWithButtonMainContainer {
  display: flex;
  align-items: center;
}

.inputWithButton {
  width: 100%;
  height: 40px;
  border-radius: 3px 0px 0px 3px;
  background-color: var(--Ivory-);
  padding-left: 10px;
  font-family: var(--IBM-Font-);
  font-weight: 300;
}

.buttonInputWithButton{
  height: 40px;
  background-color: var(--Oxford-blue-);
  color: var(--Ivory-);
  font-family: var(--IBM-Font-);
  /* padding: px; */
  padding: 0px 40px;
  border: 1px solid var(--Oxford-blue-);
}

.buttonInputWithButton:hover {
  border: 1px solid var(--Ivory-);
  cursor: pointer;
  transition: ease 0.2s;
}