*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --Oxford-blue-: #091235;
  --Rich-Black: #14202E;
  --Charcoal-: #2B4257;
  --Carolina-Blue-: #88A9C3;
  --Ivory-: #F2F2E3;
  --IBM-Font-: 'IBM Plex Sans', sans-serif;
  /* Font Weight: 300, 500, 700 */
  --BebasNeue-Font-: 'Bebas Neue', sans-serif;
  background-color: var(--Rich-Black);
  color: var(--Ivory-);
}

.cardMessageMainContainer {
  font-family: var(--IBM-Font-);
  border: 1px solid var(--Carolina-Blue-);
  padding: 10px 20px;
  border-radius: 5px;
}

.dateAndNameMessage {
  display: flex;
  gap: 5px;
  justify-content: end;
}

.cardMessageMainContainer:hover {
  background-color: var(--Ivory-);
  color: var(--Rich-Black);
  transition: ease-in-out 0.2s;
}

.spanInfoCard{
  font-weight: 300;
}