*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --Oxford-blue-: #091235;
  --Rich-Black: #14202E;
  --Charcoal-: #2B4257;
  --Carolina-Blue-: #88A9C3;
  --Ivory-: #F2F2E3;
  --IBM-Font-: 'IBM Plex Sans', sans-serif;
  /* Font Weight: 300, 500, 700 */
  --BebasNeue-Font-: 'Bebas Neue', sans-serif;
  background-color: var(--Rich-Black);
  color: var(--Ivory-);
}

.languagesSectionContainer {
  height: fit-content;
  width: 100%;
  background-color: var(--Charcoal-);
  border-radius: 5px;
  padding: 40px;
  font-family: var(--IBM-Font-);
}

.textLanguages{
  font-weight: 300;
  text-indent: 5%;
}

.iconsTechLogo {
  width: 100px;
}
.iconsLanguageContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  flex-wrap: wrap;
  gap: 20px;
}

#zustandLogo {
  height: 120px;
  width: 150px;
  object-fit: cover;
}