*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --Oxford-blue-: #091235;
  --Rich-Black: #14202E;
  --Charcoal-: #2B4257;
  --Carolina-Blue-: #88A9C3;
  --Ivory-: #F2F2E3;
  --IBM-Font-: 'IBM Plex Sans', sans-serif;
  /* Font Weight: 300, 500, 700 */
  --BebasNeue-Font-: 'Bebas Neue', sans-serif;
  background-color: var(--Rich-Black);
  color: var(--Ivory-);
}

.titleFullStackContainer {
  display: flex;
  flex-direction: column;
}

.titleFullStack {
  font-family: var(--BebasNeue-Font-);
  font-size: 8rem;
  height: 100px;
}

.fotoContainer {
  background-color: var(--Ivory-);
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-top: 40px;
}

.firstSectionHomePage {
  padding: 5% 15%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hiTitle {
  font-family: var(--IBM-Font-);
  font-weight: 300;
  margin-bottom: -30px;
}

.footerHomePageContainer {
  width: 100%;
  /* position: absolute;
  bottom: 0;  */
}

.fullStackTitle {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: start;
}

.textSectionsContainer{
  font-family: var(--IBM-Font-);
  font-weight: 300;
  font-size: 1.1rem;
}

.aboutMeTextContainer{
  background-color: var(--Charcoal-);
  padding: 40px;
  border-radius: 5px;
}

.leaveAMessageContainer {
  width: 100%;
  background-color: var(--Charcoal-);
  padding: 40px;
  border-radius: 5px;
}


.leaveAMessageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}